       .counterbody{
            color: black;
            margin: 0;
            padding: 0;
        }
        .tittle{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px 20px 20px 20px;
        }
        #countervalue{
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
            font-family: sans-serif;
            margin-top: 20px;
        }
        .controls{
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: center;
            gap: 2px;
            font-size: 28px;
            margin-top: 20px;
        }
        #decrement{
            color: white;
            font-weight: 900;
            background-color: rgb(10 125 220);
            border-radius: 7px;
            border-color: white;
            height: 60px;
            width: 55px;
            align-items: center;
        }
         #increment{
            color: white;
            font-weight: 900;
            background-color: rgb(10 125 220);
            border-radius: 7px;
            border-color: white;
            height: 60px;
            width: 55px;
            align-items: center;
        }
        .Bychange{
            text-align: center;
            line-height: 2px;
            font-size: larger;
            margin-top: 33px;
        }
        input{
            line-height: 19px;
        }
        .reset{
            text-align: center;
            margin-top: 20px;
        }
        .btn1{
            background-color: rgb(10 125 220);
             color: white;
             border-radius: 7px;
             border-color: white;
             height: 51px;
             width: 108px;
             font-weight: 900;
             font-family: sans-serifs;
        }
        .keyboard_instructions{
            text-align: center;
            font-family: sans-serif;
            line-height: normal;
        }


  
